<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog | <%= title %>
    </title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">


</head>

<body class="bg-gray-100">

    <% const name='mario' %>

        <%- include('./partials/nav.ejs') %>

            <div class="container mx-auto px-4 py-8">
                <h2 class="text-3xl font-semibold mb-4" >All Blogs</h2>
                <% if(blogs.length> 0 ){ %>
                    <% blogs.forEach(blog=> {
                        %>
                        <a href="/blogs/<%= blog._id%>" class="block bg-white rounded-lg shadow-md mb-4 p-6">
                            <h3 class="text-xl font-semibold mb-2">
                                <%=blog.title%>
                            </h3>
                            <p class="text-gray-600">
                                <%=blog.snippet%>
                            </p>
                        </a>
                        <% })%>
                            <%} else{%>
                                <p  class="text-gray-600">No blogs to display...</p>
                                <%}%>
                                    </div>


</body>

</html>